.products-body {
  height: 100%;
  width: 100%;
}

.products {
  height: 100%;
  margin: 0 4% 0 4%;
}

.products-container {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.products-title {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10% 25% 25% 10% 15% 15%;
  padding: 2%;
  font-weight: bolder;
  border-bottom: 0.25em solid black;
}

.product {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 5% 25% 25% 15% 15% 15%;
  margin: 3%;
}

.product-price {
  text-align: center;
}

.add-to-basket {
  background-color: #285430;
  color: white;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.add-to-basket:hover {
  background-color: #487450;
}

.remove-from-basket {
  background-color: lightgrey;
  color: black;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.remove-from-basket:hover {
  background: darkgray; 
}